<p id = "notice"></p>
<div class = 'container'>
  <div class = 'row'>
    <div class = "col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%=render "books/form",book: @book %>
      <%= link_to "show", book_path(@book),class: "book_#{@book.id}" %>
      <%= link_to  "Back" book_path, class: "back" %>
    </div>
  </div>
</div>